{% extends 'header.html' %}
{% load static %}

{% block content %}

<div id="main-content">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <section id="basic-horizontal-layouts">
            <div class="row match-height">
                <div class="col-md-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Vehicles</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form form-horizontal" enctype="multipart/form-data" method="post" action="/update_image/{{vehicle_category.cate_id}}" data-parsley-validate="">
                                    {% csrf_token %}
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <label>Category Img</label>
                                            </div>
                                            <div class="col-mb-12 form-group">
                                                <input
                                                        class="form-control"
                                                        id="cate_img"
                                                        name="cate_img"
                                                        value="{{vehicle_category.cate_img}}"
                                                        type="file"
                                                        onchange="loadFile(event)"
                                                        data-parsley-required="true"
                                                        data-parsley-required-message="Vehicle image is required"
                                                />
                                            </div>

                                            <div class="col-sm-12 d-flex justify-content-end">
                                                <button
                                                        type="submit"
                                                        class="btn btn-primary me-1 mb-1"
                                                >
                                                    Submit
                                                </button>
                                                <button
                                                        type="reset"
                                                        class="btn btn-light-secondary me-1 mb-1"
                                                >
                                                    Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <script>

                                        function loadFile(event){
                                            document.getElementById('output').src=
                                            URL.createObjectURL(event.target.files[0]);
                                        }



                                    </script>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}