{% extends 'header.html' %}
{% load static %}
{% block report %}active{% endblock %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>

<center>
    <script type="text/javascript">
function generate() {
    var doc = new jsPDF('p', 'pt', 'letter');
    var htmlstring = '';
    var tempVarToCheckPageHeight = 0;
    var pageHeight = 0;
    pageHeight = doc.internal.pageSize.height;
    specialElementHandlers = {
        // element with id of "bypass" - jQuery style selector
        '#bypassme': function(element, renderer) {
            // true = "handled elsewhere, bypass text extraction"
            return true
        }
    };
    margins = {
        top: 150,
        bottom: 60,
        left: 40,
        right: 40,
        width: 600
    };
    var y = 20;
    doc.setLineWidth(2);
    doc.text(200, y = y + 30, "       Vehicle Report");
    doc.autoTable({
        html: '#simple_table',
        startY: 70,
        theme: 'grid',
        columnStyles: {
            0: {
                cellWidth: 30,
            },
            1: {
                cellWidth: 50,
            },
            2: {
                cellWidth: 80,
            },
            3: {
                cellWidth: 80,
            },
            4: {
                cellWidth: 50,
            },
            5: {
                cellWidth: 50,
            },
            6: {
                cellWidth: 55,
            },
            7: {
                cellWidth: 50,
            },
            8: {
                cellWidth: 50,
            },
            9: {
                cellWidth: 50,
            }
        },
        styles: {
            minCellHeight: 40
        }
    })
    doc.save('vehicle_report.pdf');
}

    </script>
</center>

<div id="main-content">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <section id="basic-horizontal-layouts">
            <div class="row match-height">
                <div class="col-md-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Booking per Vehicle</h3>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form form-horizontal" method="post" action="/report3/"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    &emsp;<input class="btn btn-primary me-1 mb-1" type="button" onclick="generate()"
                                                 value="Export To PDF"/>
                                    <br/>
                                    <br/>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <fieldset class="form-group">
                                                    <select class="form-select" id="veh" name="veh_id">
                                                        {% for data in vd %}

                                                        <option value="{{data.veh_id}}" {% if data.cate_id == vc.cate_id %} selected {% endif %}>
                                                            {{data.cate.cate_type}}
                                                        </option>

                                                        {% endfor %}
                                                    </select>
                                                </fieldset>
                                            </div>

                                            <div class="col-sm-12 d-flex justify-content-end">
                                                <button
                                                        type="submit"
                                                        class="btn btn-primary me-1 mb-1"
                                                >
                                                    Generate report
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                                    <script>-->

                                    <!--                                        function loadFile(event){-->
                                    <!--                                            document.getElementById('output').src=-->
                                    <!--                                            URL.createObjectURL(event.target.files[0]);-->
                                    <!--                                        }-->


                                    <!--                                    </script>-->
                                </form>
                                <table class="table table-striped" id="simple_table">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Date</th>
                                        <th>Pickup_Address</th>
                                        <th>Drop_Address</th>
                                        <th>Approx_KM</th>
                                        <th>Amount</th>
                                        <th>Payment_Status</th>
                                        <th>Customer</th>
                                        <th>Driver</th>
                                        <th>Vehicle</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for data in vc %}

                                    <tr>
                                        <td>{{data.book_id}}</td>
                                        <td>{{data.book_date_time}}</td>
                                        <td>{{data.pickup_address}}</td>
                                        <td>{{data.drop_address}}</td>
                                        <td>&emsp;&emsp;{{data.approx_km}}</td>
                                        <td>{{data.amount}}Rs.</td>
                                        <td>
                                            {% if data.payment_status == 1 %}
                                            &emsp;&emsp;<span class="badge bg-light-success">Success</span>
                                            {% else %}
                                            &emsp;&emsp;<span class="badge bg-light-secondary">Pending</span>
                                            {% endif %}
                                        </td>
                                        <td>{{data.cust.first_name}} {{data.cust.last_name}}</td>
                                        <td>{{data.dri.first_name}} {{data.dri.last_name}}</td>
                                        <td>{{data.veh.cate.cate_type}}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}