{% extends 'header.html' %}
{% load static %}
{% block vehicledetails %}active{% endblock %}

{% block content %}

<div id="main-content">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <section id="basic-horizontal-layouts">
            <div class="row match-height">
                <div class="col-md-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Vehicle Details</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form form-horizontal" method="post" action="/i_vehicle_details/" enctype="multipart/form-data" data-parsley-validate="">
                                    {% csrf_token %}
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <label>Vehicle no.</label>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <input
                                                        class="form-control"
                                                        id="veh_no"
                                                        name="veh_no"
                                                        placeholder="number"
                                                        type="text"
                                                        data-parsley-required="true"
                                                        data-parsley-required-message="Vehicle number is required"
                                                />
                                            </div>
                                            <div class="col-md-10">
                                                <label>Chassis no.</label>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <input
                                                        class="form-control"
                                                        id="chassis_no"
                                                        name="chassis_no"
                                                        placeholder="chassis"
                                                        type="text"
                                                        maxlength="17"
                                                        data-parsley-required="true"
                                                        data-parsley-required-message="Chassis number is required"
                                                />
                                            </div>
                                            <div class="col-md-10">
                                                <label>Rent (Rs.)</label>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <input
                                                        class="form-control"
                                                        id="rent"
                                                        name="rent"
                                                        placeholder="rent"
                                                        type="number"
                                                        data-parsley-required="true"
                                                        data-parsley-required-message="Rent is required"
                                                />
                                            </div>
                                            <div class="col-md-10">
                                                <label>Vehicle Desc.</label>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <input
                                                        class="form-control"
                                                        id="veh_desc"
                                                        name="veh_desc"
                                                        placeholder="description"
                                                        type="text"
                                                        data-parsley-required="true"
                                                        data-parsley-required-message="Vehicle description is required"
                                                />
                                            </div>
                                            <div class="col-md-10">
                                                <label>Capacity (in kg.)</label>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <input
                                                        class="form-control"
                                                        id="capacity"
                                                        name="capacity"
                                                        placeholder="Capacity"
                                                        type="text"
                                                        data-parsley-required="true"
                                                        data-parsley-required-message="Capacity is required"
                                                />
                                            </div>
                                            <div class="col-md-10">
                                                <label>Size (e.x. 0.9ft x 5.5ft x 0.6ft )</label>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <input
                                                        class="form-control"
                                                        id="size"
                                                        name="size"
                                                        placeholder="Size"
                                                        type="text"
                                                        data-parsley-required="true"
                                                        data-parsley-required-message="Size is required"
                                                />
                                            </div>
                                            <div class="col-md-10">
                                                <label>Vehicle</label>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <fieldset class="form-group">
                                                    <select class="form-select" id="cate" name="cate">
                                                        {% for data in vc %}

                                                        <option value="{{data.cate_id}}">{{data.cate_type}}</option>

                                                        {% endfor %}
                                                    </select>
                                                </fieldset>
                                            </div>

                                            <div class="col-sm-12 d-flex justify-content-end">
                                                <button
                                                        type="submit"
                                                        class="btn btn-primary me-1 mb-1"
                                                >
                                                    Submit
                                                </button>
                                                <button
                                                        type="reset"
                                                        class="btn btn-light-secondary me-1 mb-1"
                                                >
                                                    Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <script>

                                        function loadFile(event){
                                            document.getElementById('output').src=
                                            URL.createObjectURL(event.target.files[0]);
                                        }

                                    </script>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}