{% extends 'client_header.html' %}
{% load static %}

{% block content %}

<!-- =-=-=-=-=-=-= PAGE BREADCRUMB =-=-=-=-=-=-= -->
<section class="breadcrumbs-area parallex">
    <div class="container">
        <div class="row">
            <div class="page-title">
                <div class="col-sm-12 col-md-6 page-heading text-left">
                    <h2>Forgot Password</h2>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <ul class="breadcrumbs">
<!--                        <li><a href="#">home</a></li>-->
<!--                        <li><a href="#">pages</a></li>-->
<!--                        <li><a href="#">sign in</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =-=-=-=-=-=-= PAGE BREADCRUMB END =-=-=-=-=-=-= -->


<!-- =-=-=-=-=-=-= Sign In Section =-=-=-=-=-=-= -->

<section class="section-padding-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form class="registration" method="post" action="/client/client_send_otp/">
                    {% csrf_token %}
                    <div class="box-header">
                        <h2>Forgot your password</h2>
                    </div>

                    <label>Email</label>
                    <input type="email" class="form-control margin-bottom-20" id="email" name="email" placeholder="Email" required autofocus>

                    <div class="row">
                        <div class="col-md-8 row col-sm-4 col-xs-12 text-right">
                            <button type="submit" class="btn btn-primary btn-sm">Send OTP</button>
                        </div>
                        {% for data in messages %}

                            <span style="color:red"> {{data}} </span>

                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}