{% extends 'client_header.html' %}
{% block home %}active{% endblock %}

{% block content %}
{% load static %}
<!--<style>-->
<!--    icon:hover-->
<!--    {-->
<!--    fill:red;-->
<!--    }-->
<!--</style>-->
<!-- =-=-=-=-=-=-= HOME SLIDER =-=-=-=-=-=-= -->
<div class="rev_slider_wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="rev_slider" data-version="5.0">
        <ul>

            <!-- SLIDE 1 -->
            <li data-index="rs-4" data-transition="slidingoverlayhorizontal" data-slotamount="default"
                data-easein="default" data-easeout="default" data-masterspeed="default"
                data-thumb="images/slider/thumb-1.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show"
                data-description="">
                <!-- MAIN IMAGE -->
                <img src="{% static 'images/slider/1.jpg' %}" alt="" data-bgposition="center center" data-bgfit="cover"
                     data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme text-white text-uppercase"
                     id="rs-3-layer-1"

                     data-x="['left']"
                     data-hoffset="['30']"
                     data-y="['middle']"
                     data-voffset="['-125']"
                     data-fontsize="['26']"
                     data-lineheight="['64']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;s:500"
                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap; font-weight:700;">
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme text-uppercase text-white font-merry"
                     id="rs-3-layer-2"

                     data-x="['left']"
                     data-hoffset="['30']"
                     data-y="['middle']"
                     data-voffset="['-60']"
                     data-fontsize="['40']"
                     data-lineheight="['84']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;s:500"
                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap; font-weight:600; "><span class="text-white">Providing Logistic Services </span>
                </div>

                <!-- LAYER NR. 2 -->


                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme text-white"
                     id="rs-3-layer-3"

                     data-x="['left']"
                     data-hoffset="['30']"
                     data-y="['middle']"
                     data-voffset="['20']"
                     data-fontsize="['18']"
                     data-lineheight="['34']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;s:500"
                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="1400"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap; font-weight:300;">We provides always our best services for
                    our clients and always<br> try to achieve our client's trust and satisfaction.
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme"
                     id="rs-3-layer-4"

                     data-x="['left']"
                     data-hoffset="['30']"
                     data-y="['middle']"
                     data-voffset="['100']"

                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;s:500"
                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="1600"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                    <!--                    <a class="btn btn-colored btn-lg" href="#">Contact Now</a>-->
                </div>
            </li>


        </ul>
    </div><!-- end .rev_slider -->
</div>
<!--======= HOME SLIDER END =========-->


<!-- =-=-=-=-=-=-= Services =-=-=-=-=-=-= -->
<!--<section class="custom-padding white" id="about-section-3">-->
<!--    <div class="container">-->
<!--        <div class="main-boxes">-->
<!--            <div class="row">-->
<!--                <div class="col-sm-12 col-md-4 col-xs-12">-->
<!--                    <div class="services-grid-1">-->
<!--                        <div class="service-image">-->
<!--                            <a href="#"><img alt="" src="{% static 'image/tataace.jpg' %}"></a>-->
<!--                        </div>-->
<!--                        <div class="services-text">-->
<!--                            <h4>Tata Ace</h4>-->
<!--                            <p>Tata Super Ace Mint is a last-mile cargo mini-truck with a load body length of 8.6 feet-->
<!--                                and a payload capacity of 1000 kgs (1 tonne). Powered by a 1396 cc engine, it offers a-->
<!--                                class-leading 70 HP of maximum power and 140 Nm of max torque. It also offers a top-->
<!--                                speed of 80 km/ph for faster turnaround times.</p>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;                        <div class="more-about"><a class="btn btn-primary btn-lg" href="#">Read More <i&ndash;&gt;-->
<!--                        &lt;!&ndash;                                class="fa fa-chevron-circle-right"></i></a></div>&ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; end services-grid-1 &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; end col-sm-4 &ndash;&gt;-->

<!--                <div class="col-sm-12 col-md-4 col-xs-12">-->
<!--                    <div class="services-grid-1">-->
<!--                        <div class="service-image">-->
<!--                            <a href="#"><img alt="" src="{% static 'image/mbp.jpg' %}"></a>-->
<!--                        </div>-->
<!--                        <div class="services-text">-->
<!--                            <h2>&nbsp;</h2>-->
<!--                            <h4>Mahindra Bolero</h4>-->
<!--                            <p>The Mahindra Bolero is an SUV -based pickup truck, available in AC and non-AC variants.-->
<!--                                Single or double cabin models are on offer. It was originally sold as the Bolero Single-->
<!--                                Cab or Bolero Double Cab, but from early 2002 the Double Cab model has been marketed as-->
<!--                                the Bolero Camper in India.</p>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;                        <div class="more-about"><a class="btn btn-primary btn-lg" href="#">Read More <i&ndash;&gt;-->
<!--                        &lt;!&ndash;                                class="fa fa-chevron-circle-right"></i></a></div>&ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; end services-grid-1 &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; end col-sm-4 &ndash;&gt;-->

<!--                <div class="col-sm-12 col-md-4 col-xs-12">-->
<!--                    <div class="services-grid-1">-->
<!--                        <div class="service-image">-->
<!--                            <a href="#"><img alt="" src="{% static 'image/sxlcontainer.jpeg' %}"></a>-->
<!--                        </div>-->
<!--                        <div class="services-text">-->
<!--                            <br/>-->
<!--                            <h4>Container 32FT SXL</h4>-->
<!--                            <p>Product Description Windson Logistics Can Offer 32 FT Single Axcle Container for Light-->
<!--                                weight Goods transporation. This 32FT SXL Truck are widely use for plastic item, light-->
<!--                                weight box, furniture, drum, etc.</p>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;                        <div class="more-about"><a class="btn btn-primary btn-lg" href="#">Read More <i&ndash;&gt;-->
<!--                        &lt;!&ndash;                                class="fa fa-chevron-circle-right"></i></a></div>&ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; end services-grid-1 &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; end col-sm-4 &ndash;&gt;-->

<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end main-boxes &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; end container &ndash;&gt;-->
<!--</section>-->
<!-- =-=-=-=-=-=-= Services =-=-=-=-=-=-= -->

<!-- =-=-=-=-=-=-= Our Process =-=-=-=-=-=-= -->
<section id="process" class="section-padding-80 ">
    <div class="container">
        <!-- title-section -->
        <div class="main-heading text-center">
            <h2>Customer &nbsp;Booking &nbsp;Process</h2>
            <p>____________________________________________&emsp;   Follow the steps to make booking easily.   &emsp;____________________________________________</p>
        </div>
        <!-- End title-section -->

        <!-- Row -->
        <div class="row">
            <div class="col-md-12 col-xs-12 com-sm-12 our-process process-steps text-left">
                <ul>
                    <li><span class="process-icon"><i class="flaticon-delivery-truck"></i></span>
                        <div class="process-detail">
                            <h3>Step: 1</h3>
                            <h2>Select a vehicle from navbar</h2>
                            <div class="clearboth"></div>

                        </div>
                    </li>
<!--                    <li><span class="process-icon"><i class="flaticon-man-standing-with-delivery-box"></i></span>-->
<!--                        <div class="process-detail">-->
<!--                            <h3>Step: 1</h3>-->
<!--                            <h2>Create Your Account</h2>-->
<!--                            <div class="clearboth"></div>-->

<!--                        </div>-->
<!--                    </li>-->

                    <li><span class="process-icon"><i
                            class="flaticon-commercial-delivery-symbol-of-a-list-on-clipboard-on-a-box-package"></i></span>
                        <div class="process-detail">
                            <h3>Step: 2</h3>
                            <h2>Place Your Booking</h2>
                            <div class="clearboth"></div>

                        </div>
                    </li>
<!--                    <li><span class="process-icon"><i-->
<!--                            class="flaticon-delivery-worker-giving-a-box-to-a-receiver"></i></span>-->
<!--                        <div class="process-detail">-->
<!--                            <h3>Step: 4</h3>-->
<!--                            <h2>We Collect It</h2>-->
<!--                            <div class="clearboth"></div>-->

<!--                        </div>-->
<!--                    </li>-->
<!--                    <li><span class="process-icon"><i class="flaticon-logistics-delivery-truck-in-movement"></i></span>-->
<!--                        <div class="process-detail">-->
<!--                            <h3>Step: 5</h3>-->
<!--                            <h2>Delivered</h2>-->
<!--                            <div class="clearboth"></div>-->

<!--                        </div>-->
<!--                    </li>-->
                    <li><span class="process-icon"><i
                            class="flaticon-telephone"></i></span>
                        <div class="process-detail">
                            <h3>Step: 3</h3>
                            <h2>Contact with Driver</h2>
                            <div class="clearboth"></div>

                        </div>
                    </li>
                     <li><span class="process-icon"><i
                            class="flaticon-payment"></i></span>
                        <div class="process-detail">
                            <h3>Step: 4</h3>
                            <h2>Make Payments</h2>
                            <div class="clearboth"></div>

                        </div>
                    </li>


                    <div class="clearfix"></div>
                </ul>

            </div>
        </div>

        <!-- Row End -->
        <p>________________________________________________________________________________________________________________________________</p>
    </div>
    <!-- end container -->
</section>
<!-- =-=-=-=-=-=-= Our Process End =-=-=-=-=-=-= -->


<section class="quote" id="quote">
    <div class="container">
        <div class="row clearfix">

            <!--Column-->
            <div class="col-lg-1">
                <h1>&nbsp;</h1>
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12 ">
                <div class="choose-title">
                    <h3>More about us</h3>
                    <h2>Why People Choose Us</h2>
                    <p>M&P Movers Packers have smart and skilled, trained staff for quality work. We provide
                        services such as Household Shifting, Office Shifting, Packing and Unpacking, Loading and
                        Unloading.</p>
                </div>
                <div class="choose-services">
                    <ul class="choose-list">

                        <!-- feature -->
                        <li>
                            <div class="choose-box"><span class="iconbox"><i
                                    class="flaticon-logistics-delivery-truck-and-clock"></i></span>
                                <div class="choose-box-content">
                                    <h4>Fast & Convenient delivery</h4>
                                    <p>M&P Movers and Packers Across Ahmedabad. M&P Movers and Packers Offers
                                        Highly Reliable And Swift Goods Packing Services Which Are Carried Out By
                                        Trained Professionals. M&P Offers Custom Designed Packaging Material For
                                        Packing And The Safe Transportation Of Goods.</p>
                                </div>
                            </div>
                        </li>

                        <!-- feature -->
                        <li>
                            <div class="choose-box"><span class="iconbox"><i
                                    class="flaticon-woman-with-headset"></i></span>
                                <div class="choose-box-content">
                                    <h4>Safety & Compliance</h4>
                                    <p>M&P Packer And Mover Has Noticed The Demand Of Office Moving . We
                                        Provide The Best Office Relocation Services In Ahmedabad . You Can Reach
                                        M&P Packer And Mover For Best Office Shifting Experience.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- end choose-list -->
                </div>
                <p>We provide many more services rather than this.</p>
                <br/>
                <br/>
            </div>


        </div>
    </div>
</section>

<!-- =-=-=-=-=-=-= Quote Seection end=-=-=-=-=-=-= -->

<!-- =-=-=-=-=-=-= PARALLEX TESTIMONILS =-=-=-=-=-=-= -->
<section class="testimonial-bg parallex section-padding text-center">
    <div class="container">
        <div id="testimonials">
            {% for data in fe %}
            <div class="item">
                <div class="col-sm-12 col-md-12 col-xs-12 testimonial-grid text-center">
                    <img src="{% static 'images/comment.png' %}" alt="Testimonials" class="img-responsive">
                    <br/>
                    <p>{{data.feed_desc}}</p>
                    <div class="name">{{data.cust.username}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- end container -->
</section>
<!-- =-=-=-=-=-=-= PARALLEX TESTIMONILS END =-=-=-=-=-=-= -->


<!-- =-=-=-=-=-=-= Gallery =-=-=-=-=-=-= -->
<section id="gallery" class="custom-padding">
    <div class="container">
        <!-- title-section -->
        <div class="main-heading text-center">
            <h2>OUR &nbsp;GALLERY</h2>
            <p>
                ________________________________________________________________________________________________________________________________</p>
        </div>
        <!-- End title-section -->

        <div class="portfolio-container text-center">


            <ul id="portfolio-grid" class="three-column hover-two">
                <li class="portfolio-item gutter">
                    <div class="portfolio">
                        <div class="tt-overlay"></div>
                        <img src="{% static 'images/portfolio/3.jpg' %}" alt="">

                        <div class="portfolio-info">
                            <h3 class="project-title">The truck is going to the source</h3>
                            <!--                            <a href="#" class="links">App Design</a>-->
                        </div>
                        <!-- /.project-info -->

                    </div>
                    <!-- /.portfolio -->
                </li>

                <li class="portfolio-item gutter">
                    <div class="portfolio">
                        <div class="tt-overlay"></div>
                        <img height="240px" src="{% static 'image/loading.jfif' %}" alt="">

                        <div class="portfolio-info">
                            <h3 class="project-title">Loading of Goods</h3>
                            <!--                            <a href="#" class="links">App Design</a>-->
                        </div>
                        <!-- /.project-info -->

                    </div>
                    <!-- /.portfolio -->
                </li>
                <li class="portfolio-item gutter">
                    <div class="portfolio">
                        <div class="tt-overlay"></div>
                        <img src="{% static 'images/portfolio/8.jpg' %}" alt="">

                        <div class="portfolio-info">
                            <h3 class="project-title">The truck is going to the destination</h3>
                            <!--                            <a href="#" class="links">App Design</a>-->
                        </div>
                        <!-- /.project-info -->

                    </div>
                    <!-- /.portfolio -->
                </li>
                <li class="portfolio-item gutter">
                    <div class="portfolio">
                        <div class="tt-overlay"></div>
                        <img height="240px" src="{% static 'image/unloading.jfif' %}" alt="">

                        <div class="portfolio-info">
                            <h3 class="project-title">Unloading of Goods</h3>
                            <!--                            <a href="#" class="links">App Design</a>-->
                        </div>
                        <!-- /.project-info -->

                    </div>
                    <!-- /.portfolio -->
                </li>
                <li class="portfolio-item gutter">
                    <div class="portfolio">
                        <div class="tt-overlay"></div>
                        <img src="{% static 'images/portfolio/9.jpg' %}" alt="">

                        <div class="portfolio-info">
                            <h3 class="project-title">Truck has returned from the destination</h3>
                            <!--                            <a href="#" class="links">App Design</a>-->
                        </div>
                        <!-- /.project-info -->

                    </div>
                    <!-- /.portfolio -->
                </li>
                <li class="portfolio-item gutter">
                    <div class="portfolio">
                        <div class="tt-overlay"></div>
                        <img src="{% static 'image/unpacking.jfif' %}" alt="">

                        <div class="portfolio-info">
                            <h3 class="project-title">Unpacking and setup goods at destination</h3>
                            <!--                            <a href="#" class="links">App Design</a>-->
                        </div>
                        <!-- /.project-info -->

                    </div>
                    <!-- /.portfolio -->
                </li>
            </ul>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- =-=-=-=-=-=-= Blog & News end =-=-=-=-=-=-= -->



<!-- =-=-=-=-=-=-= SEPARATOR Fun Facts =-=-=-=-=-=-= -->
<div class="parallex section-padding-70 fun-facts-bg text-center">
    <div class="container">
        <div class="row">
            <!-- countTo -->
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="statistic-percent" data-perc="{{cust}}">
                    <div class="facts-icons"><span class="flaticon-woman-with-headset"></span></div>
                    <div class="fact"><span class="percentfactor">{{cust}}</span>
                        <p>Happy Clients</p>
                    </div>
                    <!-- end fact -->
                </div>
                <!-- end statistic-percent -->
            </div>
            <!-- end col-xs-6 col-sm-3 col-md-3 -->

            <!-- countTo -->
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="statistic-percent" data-perc="{{bo}}">
                    <div class="facts-icons"><span
                            class="flaticon-commercial-delivery-symbol-of-a-list-on-clipboard-on-a-box-package"></span>
                    </div>
                    <div class="fact"><span class="percentfactor">{{bo}}</span>
                        <p>Booking Received</p>
                    </div>
                    <!-- end fact -->
                </div>
                <!-- end statistic-percent -->
            </div>
            <!-- end col-xs-6 col-sm-3 col-md-3 -->

            <!-- countTo -->
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="statistic-percent" data-perc="{{book}}">
                    <div class="facts-icons"><span class="flaticon-logistics-delivery-truck-in-movement"></span></div>
                    <div class="fact"><span class="percentfactor">{{book}}</span>
                        <p>Bookings Completed</p>
                    </div>
                    <!-- end fact -->
                </div>
                <!-- end statistic-percent -->
            </div>
            <!-- end col-xs-6 col-sm-3 col-md-3 -->

            <!-- countTo -->
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="statistic-percent" data-perc="{{ca}}">
                    <div class="facts-icons"><span class="flaticon-payment"></span></div>
                    <div class="fact"><span class="percentfactor">{{ca}}</span>
                        <p>Total Earning</p>
                    </div>
                    <!-- end fact -->
                </div>
                <!-- end statistic-percent -->
            </div>
            <!-- end col-xs-6 col-sm-3 col-md-3 -->

        </div>
        <!-- End row -->
    </div>
    <!-- end container -->
</div>
<!-- =-=-=-=-=-=-= SEPARATOR END =-=-=-=-=-=-= -->


<!-- =-=-=-=-=-=-= Our Clients =-=-=-=-=-=-= -->

<!-- =-=-=-=-=-=-= Our Clients -end =-=-=-=-=-=-= -->

{% endblock %}