{% extends 'client_header.html' %}
{% load static %}
{% block contact %}active{% endblock %}

{% block content %}


<!-- =-=-=-=-=-=-= HEADER END =-=-=-=-=-=-= -->


<!-- =-=-=-=-=-=-= PAGE BREADCRUMB =-=-=-=-=-=-= -->
<section class="breadcrumbs-area parallex">
    <div class="container">
        <div class="row">
            <div class="page-title">
                <div class="col-sm-12 col-md-6 page-heading text-left">
                    <h2>contact us </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =-=-=-=-=-=-= PAGE BREADCRUMB END =-=-=-=-=-=-= -->


<!-- =-=-=-=-=-=-= Error Page =-=-=-=-=-=-= -->
<section id="error-page" class="section-padding-70">
    <div class="container">

        <!-- Row -->
        <center>
            <div class="row">
            <div>

                <div class="error-title"><span class="icon-map-pin" style="color:#016BD6"></span>
                    <h1 style="color:#016BD6"><b>&nbsp;ADDRESS</b></h1>
                    </div>
                <h3>Movers & Packers, Shivranjani Cross Rd, Shivranjani, Satellite, Ahmedabad, Gujarat 380015</h3>
            </div>

            <span style="color:#016BD6">___________________________________________________________________________________________________________________</span>

            <br/>
            <br/>
                <br/>
            <div>
                <div class="error-title"><span class="icon-envelope" style="color:#016BD6"></span>
                    <h1 style="color:#016DB6"><b>&nbsp;Email</b></h1>
                </div>
                <h2>movepack@gmail.com</h2>
            </div>
                <span style="color:#016BD6">___________________________________________________________________________________________________________________</span>
            <br/>
                <br/>
            <br/>
                <div>
                <div class="error-title"><span class="icon-phone" style="color:#016BD6"></span>
                    <h1 style="color:#016DB6"><b>&nbsp;Contact Number</b></h1>
                </div>
                <h3> +91 98534-62509</h3>
                <h3> +91 98556-57547</h3>
            </div>



        </div>
        </center>

    </div>
    <!-- Row End -->
    </div>
    <!-- end container -->
</section>
<!-- =-=-=-=-=-=-= Our Team End =-=-=-=-=-=-= -->

{% endblock %}