{% extends 'client_header.html' %}
{% load static %}
{% block about_us %}active{% endblock %}

{% block content %}
    <!-- =-=-=-=-=-=-= PAGE BREADCRUMB =-=-=-=-=-=-= -->
    <section class="breadcrumbs-area parallex">
        <div class="container">
            <div class="row">
                <div class="page-title">
                    <div class="col-sm-12 col-md-6 page-heading text-left">
                        <h3>Who we are</h3>
                        <h2>About Our Company</h2>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <ul class="breadcrumbs">
<!--                            <li><a href="#">home</a></li>-->
<!--                            <li><a href="#">pages</a></li>-->
<!--                            <li><a href="#">about our projects</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =-=-=-=-=-=-= PAGE BREADCRUMB END =-=-=-=-=-=-= -->


    <!-- =-=-=-=-=-=-= About Section =-=-=-=-=-=-= -->

    <section class="padding-top-70" id="about">
        <div class="container">
            <div class="row clearfix">
                <!--Column-->
                <div class="col-md-6 col-sm-12 col-xs-12 ">
                    <div class="about-title">
                        <h2> Our Services </h2>
                        <p>
M&P Movers Packers are well-known Packing and Mover Company in ahmedabad. We provide high-quality services for packing and moving, company shifting, and home relocation. If you are planning to shift to a new location you can trust M&P Movers Packers. We move all kinds of goods to various locations. M&P Movers Packers has got a dedicated team of experienced executives. They are intelligent enough to resolve the issue of the clients. We have got packing professionals who know all kinds of packing of the goods.</p>


                        <p> We M&P Movers Packers   secure and affordable home relocation services. M&P Movers Packers are the professional packers and movers in Ahmedabad. The company will provide you with the best possible local house shifting. The company also caters to office, commercial, and industrial relocation needs. </p>

<!--                        <div class="more-about margin-top-30"> <a href="#" class="btn btn-primary btn-lg">Contact Us <i class="fa fa-chevron-circle-right"></i></a> </div>-->

                    </div>

                </div>

                <!-- RIght Grid Form -->
                <div class="col-md-6 col-sm-12 our-gallery col-xs-12">
                    <a class="tt-lightbox" href="images/crew.png"> <img class="img-responsive" alt="Image" src="{% static 'images/crew.png' %}"></a>

                </div>
            </div>
        </div>
    </section>

    <!-- =-=-=-=-=-=-= About End =-=-=-=-=-=-= -->


    <!-- =-=-=-=-=-=-= Why Choose Us =-=-=-=-=-=-= -->

    <section class="section-padding-70 gray" id="why-choose">
        <div class="container">
            <div class="row clearfix">

                <!--Column-->
                <div class="col-md-7 col-sm-12 col-xs-12 ">
                    <div class="about-title">
                        <h3>More about us</h3>
                        <h2>Why People Choose Us</h2>
                        <p>M&P Movers Packers have smart and skilled, trained staff for quality work. We provide services such as Household Shifting, Office Shifting, Packing and Unpacking, Loading and Unloading.
   </p>
                    </div>
                    <div class="choose-services">
                        <ul class="choose-list">

                            <!-- feature -->
                            <li>
                                <div class="choose-box"> <span class="iconbox"><i class="flaticon-logistics-delivery-truck-and-clock"></i></span>
                                    <div class="choose-box-content">
                                        <h4>Safe and Time-Saving Service</h4>
                                        <p>We ensure that the goods moved are protected properly against rain, dust, sun, water and pilferage possibilities.</p>
                                    </div>
                                </div>
                            </li>

                            <!-- feature -->
                            <li>
                                <div class="choose-box"> <span class="iconbox"><i class="flaticon-woman-with-headset"></i></span>
                                    <div class="choose-box-content">
                                        <h4>Experienced Staff</h4>
                                        <p>M&P Movers Packers have smart and skilled, trained staff for quality work. They are intelligent enough to resolve the issue of the clients</p>
                                    </div>
                                </div>
                            </li>

                            <!-- feature -->

                            <li>
                                <div class="choose-box"> <span class="iconbox"><i class="flaticon-24-hours-symbol"></i></span>
                                    <div class="choose-box-content">
                                        <h4> 24/7 support </h4>
                                        <p>24/7 support means a support service that is provided 24 hours a day and 7 days a week.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- end choose-list -->
                    </div>
                </div>

                <!-- Quote Form -->
<!--                <div class="col-md-5 col-sm-12 col-xs-12">-->
<!--                    <div class="accordion-box style-one">-->
<!--                        <div class="faqs-title">-->
<!--                            <h3>need help</h3>-->
<!--                            <h2>Frequently Asked Questions</h2>-->
<!--                            <p>Ut consequat velit a metus accumsan, vel tempor nulla blandit. Integer euismod magna vel mi congue suscipit.</p>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Accordion &ndash;&gt;-->
<!--                        <div class="accordion accordion-block">-->
<!--                            <div class="accord-btn active">-->
<!--                                <h4>What is a freight forwarder ?</h4></div>-->
<!--                            <div class="accord-content collapsed">-->
<!--                                <p>Just sit right back and you'll hear a tale a tale of a fateful trip that started from this tropic port aboard this tiny ship all of them had hair of gold like their mother the youngest one in curls. Space. The final frontier.tortor vel vehicula imperdiet, felis massa ultrices metus, sed consectetur massa ex vitae sem. Integer eu sodales augue leo.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Accordion &ndash;&gt;-->
<!--                        <div class="accordion accordion-block">-->
<!--                            <div class="accord-btn">-->
<!--                                <h4>Why are the shipping rates so volatile ?</h4></div>-->
<!--                            <div class="accord-content">-->
<!--                                <p>Just sit right back and you'll hear a tale a tale of a fateful trip that started from this tropic port aboard this tiny ship all of them had hair of gold like their mother the youngest one in curls. Space. The final frontier.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Accordion &ndash;&gt;-->
<!--                        <div class="accordion accordion-block">-->
<!--                            <div class="accord-btn">-->
<!--                                <h4>What are the methods of payment ?</h4></div>-->
<!--                            <div class="accord-content">-->
<!--                                <p>Just sit right back and you'll hear a tale a tale of a fateful trip that started from this tropic port aboard this tiny ship all of them had hair of gold like their mother the youngest one in curls. Space. The final frontier.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
            </div>
        </div>
    </section>

    <!-- =-=-=-=-=-=-= hy Choose Us end =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= SEPARATOR Fun Facts =-=-=-=-=-=-= -->
<!--    <div class="parallex section-padding-70 fun-facts-bg text-center" >-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                &lt;!&ndash; countTo &ndash;&gt;-->
<!--                <div class="col-xs-6 col-sm-3 col-md-3">-->
<!--                    <div class="statistic-percent" data-perc="356">-->
<!--                        <div class="facts-icons"> <span class="flaticon-woman-with-headset"></span> </div>-->
<!--                        <div class="fact"> <span class="percentfactor">356</span>-->
<!--                            <p>Happy Clients</p>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; end fact &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; end statistic-percent &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; end col-xs-6 col-sm-3 col-md-3 &ndash;&gt;-->

<!--                &lt;!&ndash; countTo &ndash;&gt;-->
<!--                <div class="col-xs-6 col-sm-3 col-md-3">-->
<!--                    <div class="statistic-percent" data-perc="126">-->
<!--                        <div class="facts-icons"> <span class="flaticon-commercial-delivery-symbol-of-a-list-on-clipboard-on-a-box-package"></span> </div>-->
<!--                        <div class="fact"> <span class="percentfactor">126</span>-->
<!--                            <p>Order Received</p>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; end fact &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; end statistic-percent &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; end col-xs-6 col-sm-3 col-md-3 &ndash;&gt;-->

<!--                &lt;!&ndash; countTo &ndash;&gt;-->
<!--                <div class="col-xs-6 col-sm-3 col-md-3">-->
<!--                    <div class="statistic-percent" data-perc="274">-->
<!--                        <div class="facts-icons"> <span class="flaticon-free-delivery-truck"></span> </div>-->
<!--                        <div class="fact"> <span class="percentfactor">274</span>-->
<!--                            <p>Free Delivery</p>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; end fact &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; end statistic-percent &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; end col-xs-6 col-sm-3 col-md-3 &ndash;&gt;-->

<!--                &lt;!&ndash; countTo &ndash;&gt;-->
<!--                <div class="col-xs-6 col-sm-3 col-md-3">-->
<!--                    <div class="statistic-percent" data-perc="434">-->
<!--                        <div class="facts-icons"> <span class="flaticon-ocean-transportation"></span> </div>-->
<!--                        <div class="fact"> <span class="percentfactor">434</span>-->
<!--                            <p>Completed Projects</p>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; end fact &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; end statistic-percent &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; end col-xs-6 col-sm-3 col-md-3 &ndash;&gt;-->

<!--            </div>-->
<!--            &lt;!&ndash; End row &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; end container &ndash;&gt;-->
<!--    </div>-->
    <!-- =-=-=-=-=-=-= SEPARATOR END =-=-=-=-=-=-= -->

<!--    &lt;!&ndash; =-=-=-=-=-=-= Our Team =-=-=-=-=-=-= &ndash;&gt;-->
<!--    <section id="team" class="custom-padding white">-->
<!--        <div class="container">-->
<!--            &lt;!&ndash; title-section &ndash;&gt;-->
<!--            <div class="main-heading text-center">-->
<!--                <h2>our caretakes</h2>-->
<!--                <p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi <br> eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</p>-->
<!--            </div>-->
<!--            &lt;!&ndash; End title-section &ndash;&gt;-->

<!--            &lt;!&ndash; Row &ndash;&gt;-->
<!--            <div class="row">-->
<!--                &lt;!&ndash; Team Grid &ndash;&gt;-->
<!--                <div class="col-md-4 col-sm-6 col-xs-12">-->
<!--                    <div class="team-grid">-->
<!--                        <div class="team-image">-->
<!--                            <img alt="" class="img-responsive" src="images/team/1.jpg">-->
<!--                            <div class="team-grid-overlay">-->
<!--                                <div class="social-media">-->
<!--                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>-->
<!--                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>-->
<!--                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>-->
<!--                                    <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="team-content">-->
<!--                            <h2>Roman Reigns</h2>-->
<!--                            <p>Founder</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Team Grid End&ndash;&gt;-->
<!--                &lt;!&ndash; Team Grid &ndash;&gt;-->
<!--                <div class="col-md-4 col-sm-6 col-xs-12">-->
<!--                    <div class="team-grid">-->
<!--                        <div class="team-image">-->
<!--                            <img alt="" class="img-responsive" src="images/team/2.jpg">-->
<!--                            <div class="team-grid-overlay">-->
<!--                                <div class="social-media">-->
<!--                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>-->
<!--                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>-->
<!--                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>-->
<!--                                    <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="team-content">-->
<!--                            <h2>Jean Carron</h2>-->
<!--                            <p>Director</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Team Grid End&ndash;&gt;-->
<!--                &lt;!&ndash; Team Grid &ndash;&gt;-->
<!--                <div class="col-md-4 col-sm-6 col-xs-12">-->
<!--                    <div class="team-grid">-->
<!--                        <div class="team-image">-->
<!--                            <img alt="" class="img-responsive" src="images/team/3.jpg">-->
<!--                            <div class="team-grid-overlay">-->
<!--                                <div class="social-media">-->
<!--                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>-->
<!--                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>-->
<!--                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>-->
<!--                                    <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="team-content">-->
<!--                            <h2>Arslan Tariq</h2>-->
<!--                            <p>CEO</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Team Grid End&ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; Row End &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; end container &ndash;&gt;-->
<!--    </section>-->
<!--    &lt;!&ndash; =-=-=-=-=-=-= Our Team End =-=-=-=-=-=-= &ndash;&gt;-->

<!--    &lt;!&ndash; =-=-=-=-=-=-= Our Clients =-=-=-=-=-=-= &ndash;&gt;-->
<!--    <section class="section-padding-70 services">-->
<!--        <div class="container">-->
<!--            &lt;!&ndash; title-section &ndash;&gt;-->
<!--            <div class="main-heading text-center">-->
<!--                <h2>our partners</h2>-->
<!--                <p>Cras varius purus in tempus porttitor ut dapibus efficitur sagittis cras vitae lacus metus nunc vulputate facilisis nisi <br> eu lobortis erat consequat ut. Aliquam et justo ante. Nam a cursus velit</p>-->
<!--            </div>-->
<!--            &lt;!&ndash; End title-section &ndash;&gt;-->

<!--            &lt;!&ndash; Row &ndash;&gt;-->
<!--            <div class="row">-->
<!--                <div id="clients" class="text-center">-->
<!--                    &lt;!&ndash; Service Item List &ndash;&gt;-->
<!--                    <div class="item">-->
<!--                        <img class="img-responsive" alt="" src="images/clients/client_5.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <img class="img-responsive" alt="" src="images/clients/client_5.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <img class="img-responsive" alt="" src="images/clients/client_5.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <img class="img-responsive" alt="" src="images/clients/client_5.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <img class="img-responsive" alt="" src="images/clients/client_5.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <img class="img-responsive" alt="" src="images/clients/client_5.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <img class="img-responsive" alt="" src="images/clients/client_5.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <img class="img-responsive" alt="" src="images/clients/client_5.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <img class="img-responsive" alt="" src="images/clients/client_5.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <img class="img-responsive" alt="" src="images/clients/client_5.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <img class="img-responsive" alt="" src="images/clients/client_5.png">-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <img class="img-responsive" alt="" src="images/clients/client_5.png">-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Service Item List End &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Row End &ndash;&gt;-->
<!--            &lt;!&ndash; end container &ndash;&gt;-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; =-=-=-=-=-=-= Our Clients -end =-=-=-=-=-=-= &ndash;&gt;-->
{% endblock %}